<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Delete Product</title>
</head>

<body>
	<form method="POST" th:action="@{/products/delete}" th:object="${product}">
		<h1> Are you sure you want to delete this product </h1>
		<table cellspacing="5" border="0">
			<tr>
				<td align="right"><label for="productCode">Product Code: </label></td>
				<td align="right"><input type="text" th:field="*{productCode}" placeholder="Product code" /></td>
			</tr>
			<tr>
				<td align="right"><label for="productDescription">Product Description: </label></td>
				<td align="right"><input type="text" th:field="*{productDescription}"
						placeholder="Product Description" /></td>
			</tr>
			<tr>
				<td align="right"><label for="productPrice">Product Price: </label></td>
				<td align="right"><input type="text" th:field="*{productPrice}" placeholder="Product Price" /></td>
			</tr>
			<tr>
				<td align="right"><br><input type="submit" value="YES"></td>
				<td><button style="margin-top: 10pt"><a th:href="@{/products}">NO</a></button></td>
			</tr>
		</table>

	</form>
</body>

</html>